body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#info, #savedUpperLeft, #savedLowerRight {
    width: 100%;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    color: #222;
}
.marker {
    background-image: url('../mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.markerSmall {
    background-image: url('../mapbox-icon.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.markerSelected {
    background-image: url('../pin.png');
    background-size: cover;
    width: 25px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: "Open Sans", sans-serif;
}

#menu a {
    font-size: 12px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}